<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="cart_title">Contact Form</div>
		<br></br>
	<div class="contact_form_container">
	<form action="#" id="contact_form">
		<div class="contact_form_inputs d-flex flex-md-row flex-column justify-content-between align-items-between">
			<div class="contact_info_image"><img src="web/images/contact_3.png" alt=""></div>
			<input type="text" id="contact_form_name" class="contact_form_name input_field" placeholder="Your name" required="required" data-error="Name is required.">
			<div class="contact_info_image"><img src="web/images/contact_2.png" alt=""></div>
			<input type="text" id="contact_form_email" class="contact_form_email input_field" placeholder="Your email" required="required" data-error="Email is required.">
			<div class="contact_info_image"><img src="web/images/contact_1.png" alt=""></div>
			<input type="text" id="contact_form_phone" class="contact_form_phone input_field" placeholder="Your phone number">
		</div>
		<div class="contact_form_text">
			<textarea id="contact_form_message" class="text_field contact_form_message" name="message" rows="4" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
		</div>
		<div class="cart_buttons">
			<button type="submit" class="button cart_button_checkout">Checkout</button>
		</div>
	</form>
	</div>
</div>
</div>